body {
    background-color: #E0FFC8;
}

p {
    color: #532E01;
}

h1,h2,h3{
    color: #06851A;
    font-family: Environnement;
}

.themeButton{
    background-color: #18CA34;
    color: #0E0E0E;

}

.themeButton:hover {
    background-color: #67de79;
    border-radius: 15px;
}

/*--
Scroll Bar
--*/

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar {
    width: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #18CA34;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #06851A;
}

.banderole {
    background-image: url("images/environnement.png");
}