body {
    background-color: #FFCDCD;
}

p {
    color: #4E0000;
}

h1,h2,h3{
    color: #D30A0A;
    font-family: Quotidien;
}

.themeButton{
    background-color: #FF3D3D;
    color: #0E0E0E;
}

/*--
Scroll Bar
--*/
::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar {
    width: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FF3D3D;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #D30A0A;
}

.banderole {
    background-image: url("images/quotidien.png");
}