body {
    background-color: #C8FFF5;
}

p {
    color: #525252;
}

h1,h2,h3{
    color: #0082E0;
    font-family: Transport ;
}

.themeButton{
    background-color: #00D2E0;
    color: #0E0E0E;
    border: none;
    border-radius: 15%;
    padding-left: 1%;
    padding-right: 1%;
}

/* 
Scroll Bar 
*/
::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar {
    width: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00D2E0;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0082E0;
}


.banderole {
    background-image: url("images/transports.png");
}